/* OBSERVATION (TODAY) */
#observationIcon {
	height: 100px;
	width: 15%;
	left: 0px;
	display: inline-block;
	float: left;
}
#observationIcon > img {
	padding: 25px 10px 25px 5px;
}
.observation {
	height: 100px;
	width: 35%;
	display: inline-block;
	padding-top: 15px;
}
#observationWeather {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.observationInformation {
	display: inline-block;
	width: 50%;
	height: 100px;
	float: right;
	padding-top: 15px;
}
.observationInformation > #observation_temperature {
	position: absolute;
	bottom: 46px;
	font-size: 1.5em;
}
.observationInformation > #observation_feelslike {
	position: absolute;
	bottom: 15px;
	font-size: 0.75em;
	font-style: italic;
}
.observationInformation > .underlayer {
	font-size: 3em;
	font-weight: bold;
	color: #333333;
	float: right;
	padding-right: .25em;
	padding-top: .45em;
}
