/* TIDAL OBSERVATION */
.tidalPosition {
	width:30%;
	height: 100px;
	text-align: center;
	display: inline-block;
	border-right: dashed 2px rgba(255, 255, 255, 0.3);
}
.tidalPosition > #tide_curr_going {
	top: 8px;
	left: 10px;
	font-size: 1.5em;
	border-bottom: dotted 1px rgba(255, 255, 255, 0.3);
}
.tidalPosition > #tide_status_none {
	margin-top: .5em;
	font-size: 1.8em;
}
.tidalPosition > #tide_status_high {
	margin-top: .5em;
	font-size: 1.8em;
	display: none;
}
.tidalPosition > #tide_status_low {
	margin-top: .5em;
	font-size: 1.8em;
	display: none;
}
.futureTidalInfo {
	display: inline-block;
	width: 50%;
	height: 100px;
	float: right;
	padding-top: 15px;
}
.futureTidalInfo > #tide_goingTop {
	position: absolute;
	bottom: 46px;
	font-size: 1.5em;
}
.futureTidalInfo > #tide_goingBottom {
	position: absolute;
	bottom: 15px;
	font-size: 1.5em;
	font-style: italic;
}
.futureTidalInfo > .underlayer {
	font-size: 3em;
	font-weight: bold;
	color: #333333;
	float: right;
	padding-right: .25em;
	padding-top: .45em;
}
